# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key
ELASTIC_USERNAME=euser
ELASTIC_PASSWORD=epass
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200
OPENAI_CONTEXT_CHARS=3000
SEARCH_RESULT_PREVIEW_CHARS=500
